<h1>Begin organizing your wine collection -- Sign up for VinoLoca Below</h1>

<%= form_for @user do |f| %>
  <%= render partial: "layouts/errors", locals: {record: @user} %>
  <%= f.label :username %>
  <%= f.text_field :username %><br/>
  <%= f.label :email %>
  <%= f.text_field :email %><br/>
  <%= f.label :password %>
  <%= f.password_field :password %><br/>
  <%= f.submit "Sign Up!" %>
  
<% end %>