<h1>You have the following wines from <%= @country.name %>:</h1>

<table class="center">
  <tr>
    <th>Name</th>
    <th>Category</th>
  </tr>
  <tr>
  <% country_user_wines(@wines).each do |wine| %> 
        <td><%= link_to wine.title, country_wine_path(@country.id, wine.id) %></td>
        <td><%= wine.category %></td>
  </tr>
  <% end %>
</table><br/>
  
</ul>

  <%= link_to "View All Countries in your Collection", countries_path %> |
  <%= link_to "Add a new Wine to #{@country.name}", new_country_wine_path(@country) %>


