

<h1><%= @wine.title %></h1>


<h3 class="show">Category: <%= @wine.category %></h3>
<h3 class="show">Year: <%= @wine.year %></h3>
<h3 class="show">Rating: <%= @wine.rating %></h3>
<h3 class="show">Price: $<%= @wine.separate_comma %></h3>

<%= button_to "Delete #{@wine.title}", country_wine_path(@country, @wine), method: :delete %><br/>

 <%= link_to "Update #{@wine.title}", edit_country_wine_path(@country, @wine) %> |
 <%= link_to "View All Countries in Collection", countries_path %><br/>
 <%= link_to "View All wines from #{@country.name}", country_wines_path(@country) %> |
 <%= link_to "Add a new Wine to #{@country.name}", new_country_wine_path(@country) %>
  

