<h1><%= @wine.title %></h1>
<h1><%= @wine.category %></h1>
<h1><%= @wine.year %></h1>
<h1><%= @wine.rating %></h1>
<h1><%= @wine.price %></h1>

 <%= link_to "View All Countries in Collection", countries_path %> |
 <%= link_to "Add a new Wine to a new wine to your collection", new_country_wine_path(@country) %>
